.column{
    float: left;
    width: 20%;
    border: 0.5px solid black;
    padding-left: 10px;
    padding-right: 10px;
    background-color: antiquewhite;
}

h1{text-align: center;}
h2{text-align: center;}

* {box-sizing: border-box;}